@import url(//db.onlinewebfonts.com/c/34c01a1d7f7d514d22bc4c21189f62dd?family=LondonTwo);
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

@font-face {font-family: "LondonTwo"; src: url("//db.onlinewebfonts.com/t/34c01a1d7f7d514d22bc4c21189f62dd.eot"); src: url("//db.onlinewebfonts.com/t/34c01a1d7f7d514d22bc4c21189f62dd.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/34c01a1d7f7d514d22bc4c21189f62dd.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/34c01a1d7f7d514d22bc4c21189f62dd.woff") format("woff"), url("//db.onlinewebfonts.com/t/34c01a1d7f7d514d22bc4c21189f62dd.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/34c01a1d7f7d514d22bc4c21189f62dd.svg#LondonTwo") format("svg"); }



.container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.background {
  padding: 1%;
  background: url(summer-bg-whole.jpg) center bottom/cover no-repeat;
  height: 150px;
  position: relative;
}

.background-cover {
    background: url(summer-bg.jpg) center top/cover no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
}

.background-cut {
  background: url(summer-bg-cut4.jpg)  bottom/cover;
  width: 100%;
  position: absolute;
  min-height: 100%;
}

.background-cut-invert {
    background: url(summer-bg-invert-3.jpg)  top/cover;
    width: 100%;
    position: absolute;
    min-height: 100%;
  }

.background::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7%;
    background-color: white;
    opacity: 50%;
  }

.top-margin {
    padding-top: 100px;
}

.bottom-margin {
    margin-top: -200px;
}
.title {
    color: white;
    font-family: 'LondonTwo';
    font-size: 60px;
    text-align: center;
    margin-top: 35px;
    font-weight: bold;
}

.halftitle {
    color: white;
    font-family: 'LondonTwo';
    font-size: 50px;
    text-align: center;
    margin-top: 35px;
    font-weight: bold;
    max-width: 100%;
    margin-bottom: -10px;
}

.lessertitle {
    color: white;
    font-family: 'LondonTwo';
    font-size: 50px;
    text-align: center;
    margin-top: 35px;
    font-weight: bold;
}

.subtitle {
    margin-top: 50px;
    font-size: 23px;
}

.minortitle {
    font-size: 20px;
    text-align: center
}

.former {
    align-self: center;
    font-family: 'Lexend', sans-serif;
    text-align: center;
}

.form-item {
    font-family: 'Lexend', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

.text-input {
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    background-color: white;
    border-style: solid;
    border-color: #ccc;
    border-radius: 4px;
    border-width: 2px;
    width: 250px;
    height: 35px;
}

.date-input {
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    background-color: white;
    border-style: solid;
    border-color: #ccc;
    border-radius: 4px;
    border-width: 2px;
    width: 100px;
    height: 35px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.date-label {
    margin-left: 30px;
    margin-right: 35px;
}

.dates {
    margin-top: 10px;
}

.form-button {
  background-color: #007871;
  border-style: hidden;
  border-radius: 4px;
  border-color: white;
  font-family: 'Lexend', sans-serif;
  font-size: 15px;
  color: white;
  width: 250px;
  height: 35px;
  box-shadow: 0px 2px 1px 1px #b4ddcb;
  cursor: pointer;
}

.form-button-no-shadow {
    background-color: #007871;
    border-style: hidden;
    border-radius: 4px;
    border-color: white;
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    color: white;
    width: 250px;
    height: 35px;
    cursor: pointer;
  }


.hor {
    margin: auto;
    width: 250px;
    margin-top: 0px;
    margin-bottom: 15px;
    height: 1px;
    border-style: none;
    background-color: rgb(6, 123, 74);
}

.hor-offset {
    margin: auto;
    width: 250px;
    margin-top: 0px;
    margin-bottom: 15px;
    height: 1px;
    background-color: rgb(48, 56, 53);
}

.signup {
    background-color: #005550;
    box-shadow: 0px 2px 1px 1px #ccc;
    cursor: pointer;
}

.signup-no-shadow {
    background-color: #005550;
    cursor: pointer;
}