@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

@font-face {font-family: "LondonTwo"; src: url("../../assets/fonts/LondonTwo/LondonTwo.eot"); 
  src: url("../../assets/fonts/LondonTwo/LondonTwo.woff2") format("woff2"); 
  src: url("../../assets/fonts/LondonTwo/LondonTwo.woff") format("woff"); 
  src: url("../../assets/fonts/LondonTwo/LondonTwo.ttf") format("truetype");
  src: url("../../assets/fonts/LondonTwo/LondonTwo.svg") format("svg"); 
}

.country-input {
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    width: 220px;
    height: 40px;
    text-align: center;
    max-width: 100%;
    margin: auto;
    font-family: 'Lexend', sans-serif;
  }

  .parent-buttons {
    display: block;
    margin: auto;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: column;
    position: fixed;
  }
  
  .button {
    width: 350px;
    font-size: 15px;
    margin-top: -1.5px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .button:hover {
    background-color: #bccec6;
  }
  