@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

@font-face {font-family: "LondonTwo"; src: url("../../assets/fonts/LondonTwo/LondonTwo.eot"); 
  src: url("../../assets/fonts/LondonTwo/LondonTwo.woff2") format("woff2"); 
  src: url("../../assets/fonts/LondonTwo/LondonTwo.woff") format("woff"); 
  src: url("../../assets/fonts/LondonTwo/LondonTwo.ttf") format("truetype");
  src: url("../../assets/fonts/LondonTwo/LondonTwo.svg") format("svg"); 
}

body {
    margin: auto;
    text-align: center;
}

select {
    margin: auto;
    width: 300px;
    height: 40px;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}

option {
   padding-left: 100px  ;
}

.start-finish {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: -5px;
}

.date {
    width: 150px;
    text-align: center;
    font-size: 1rem;
    height: 30px;
    font-family: 'Lexend', sans-serif;
    border-style: solid;
    border-color: lightgray;
    border-radius: 3px;
    display: inline;
    margin-right: 10px;
    line-height: 30px;
}

.time {
    height: 30px;
    font-size: 1rem;
    font-family: 'Lexend', sans-serif;
    margin: auto;
    border-radius: 3px;
    border-style: solid;
    border-color: lightgray;
    display: inline;
    line-height: 30px;
}

.center-text {
    width: 150px;
    text-align: center;
    font-size: 1rem;
    height: 30px;
    font-family: 'Lexend', sans-serif;
    border-style: solid;
    border-color: lightgray;
    border-radius: 3px;
    display: inline;
    margin-right: 10px;
    line-height: 30px;
  }

  .my-row-continer {
    flex-direction: row;
  }

  .end-time {
    margin-bottom: 10px;
  }

  .input-select {
    margin-top: 20px;
    margin-bottom: -15px;
  }

  .it-input {
    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    background-color: white;
    border-style: solid;
    border-color: #ccc;
    border-radius: 4px;
    border-width: 2px;
    width: 280px;
    height: 35px;
    margin-bottom: 15px;
  }

  #itinerary-name {
    height: 30px;
  }

  .form-text-input {
    font-family: 'Lexend', sans-serif;
    text-align: center;
    margin-bottom: 15px;
    font-size: 15px;
    background-color: white;
    border-style: solid;
    border-color: #ccc;
    border-radius: 4px;
    border-width: 2px;
    width: 290px;
    height: 35px;
}

 

.form-submit-button {
  font-family: 'Lexend', sans-serif;
  text-align: center;
  margin-bottom: 15px;
  background-color: #007871;
  border-style: hidden;
  border-radius: 4px;
  border-color: white;
  font-size: 15px;
  color: white;
  width: 290px;
  height: 35px;
  box-shadow: 0px 2px 1px 1px #b4ddcb;
  cursor: pointer;
}
 
.form-navigation-button {
  font-family: 'Lexend', sans-serif;
  text-align: center;
  margin-bottom: 15px;
  border-style: hidden;
  border-radius: 4px;
  border-color: white;
  font-size: 15px;
  color: white;
  width: 290px;
  height: 35px;
  cursor: pointer;
  background-color: #005550;
  box-shadow: 0px 2px 1px 1px #ccc;
}

.minortitle {
  margin-top: 0;
}