@import url(//db.onlinewebfonts.com/c/34c01a1d7f7d514d22bc4c21189f62dd?family=LondonTwo);
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

@font-face {font-family: "LondonTwo"; src: url("//db.onlinewebfonts.com/t/34c01a1d7f7d514d22bc4c21189f62dd.eot"); src: url("//db.onlinewebfonts.com/t/34c01a1d7f7d514d22bc4c21189f62dd.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/34c01a1d7f7d514d22bc4c21189f62dd.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/34c01a1d7f7d514d22bc4c21189f62dd.woff") format("woff"), url("//db.onlinewebfonts.com/t/34c01a1d7f7d514d22bc4c21189f62dd.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/34c01a1d7f7d514d22bc4c21189f62dd.svg#LondonTwo") format("svg"); }


body {
	margin: auto;
	text-align: center;
}

.trip-title {
	color: rgb(0, 0, 0);
	font-family: 'LondonTwo';
	font-size: 45px;
	text-align: center;
	font-weight: bold;
}

.trip {
	margin: auto;
	width: 50%;
	text-align: center;
}

.content {
	font-size: 15px;
	transform: translate(0,20vh);
}

.botton-link {
    font-family: 'Lexend', sans-serif;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    text-decoration: none;
    font-size: 27px;
    color: rgb(0, 0, 0);
    max-height: 70vh;
}

