@import url(//db.onlinewebfonts.com/c/34c01a1d7f7d514d22bc4c21189f62dd?family=LondonTwo);
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

@font-face {font-family: "LondonTwo"; src: url("//db.onlinewebfonts.com/t/34c01a1d7f7d514d22bc4c21189f62dd.eot"); src: url("//db.onlinewebfonts.com/t/34c01a1d7f7d514d22bc4c21189f62dd.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/34c01a1d7f7d514d22bc4c21189f62dd.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/34c01a1d7f7d514d22bc4c21189f62dd.woff") format("woff"), url("//db.onlinewebfonts.com/t/34c01a1d7f7d514d22bc4c21189f62dd.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/34c01a1d7f7d514d22bc4c21189f62dd.svg#LondonTwo") format("svg"); }


body {
	margin: auto;
	text-align: center;
}

.row-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around
}

.p-text {
	font-family: 'Lexend', sans-serif;
	font-size: 12px;
}

.row-label {
	margin-bottom: -10px;
}

.trip-title {
	color: rgb(0, 0, 0);
	font-family: 'LondonTwo';
	font-size: 45px;
	text-align: center;
	font-weight: bold;
}

.trip {
	z-index: -1;
	margin: auto;
	width: 40%;
	height: 100px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	border-style: solid;
	border-radius: 4px;
	border-width: 1.5px;
	cursor: pointer;
	margin-bottom: 5px;
}

.trip-name {
	font-family: 'Lexend', sans-serif;
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: -5px;
}

.date-values {
	font-family: 'Lexend', sans-serif;
	font-size: 14px;
	margin-left: 50%;
	width: 30%;
}

.content {
	font-size: 15px;
	transform: translate(0,20vh);
}

.link {
    font-family: 'Lexend', sans-serif;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 1%; left: 0; right: 0;
    text-decoration: none;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.interval-div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 40%;
	margin: auto;
}

.interval-button {
	background-color: white;
	border-style: none;
	font-family: 'Lexend', sans-serif;
	font-size: 20px;
}

.past {
	cursor: pointer;
	color:rgb(116, 116, 116)
}

.current {
	cursor: pointer;
	font-weight: bold;
}

.add-trip {
	cursor: pointer;
	font-weight: bold;
}

.scroll-container {
	max-height: 70vh;
	overflow: auto; /* or overflow: scroll; */
}

@media screen and (max-width: 600px) {
	.trip-title {
		font-size: 30px;
	}

	.interval-div {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content:center;
		width: 100%;
	}

	.interval-button {
		font-size: 15px;
	}

	.scroll-container {
		width: 100%;
		overflow:unset;
	}

	.add-trip {
		width: 90px
	}

	.trip {
		z-index: -1;
		margin: auto;
		width: 80%;
		height: 100px;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.5);
		border-style: solid;
		border-radius: 4px;
		border-width: 1.5px;
		cursor: pointer;
		margin-bottom: 5px;
	}

	.link {
		margin-bottom: -5px;
		font-size: 25px;
	}

  }


